<nav class="navbar" id="navbar">
    <div class="nav-container">
        <a href="/" class="logo">
            <div class="logo-wrapper">
                <i class="fas fa-khanda logo-icon"></i>
            </div>
            <div class="logo-text">
                <div class="logo-title">Gurbani</div>
                <div class="logo-subtitle">Spiritual Hub</div>
            </div>
        </a>

        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="nav-menu" id="navMenu">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-book-open"></i>
                    <span>Nitnem</span>
                </a>
                <div class="dropdown">
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-scroll"></i>
                        <span>Japji Sahib</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-scroll"></i>
                        <span>Jaap Sahib</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-scroll"></i>
                        <span>Tav-Prasad Savaiye</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-scroll"></i>
                        <span>Chaupai Sahib</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-scroll"></i>
                        <span>Anand Sahib</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-scroll"></i>
                        <span>Rehras Sahib</span>
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-landmark"></i>
                    <span>History</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-calendar-days"></i>
                    <span>Events</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-images"></i>
                    <span>Gallery</span>
                </a>
            </li>
        </ul>

        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" class="search-box" placeholder="Search Gurbani...">
        </div>
    </div>
</nav>